#bg {

    background-repeat: no-repeat;
    background-size: 1800px 720px;
    
}

#bg2 {

    background-repeat: no-repeat;
    background-size: 1800px 720px;
    
}

#bg3 {

    background-repeat: no-repeat;
    background-size: 1800px 720px;
    
}

