{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}


     <!-- having these blocks allow overredide in child pages -->
        {% block base_head %}

        {% endblock %}

        {% block base_title %}<title>Price History</title>{% endblock %} 
        
        {% block base_body %}

        {% block scripts %} 
       
        <script>
            var data_set = [1, 2, 3, 4];
            var get_labels=['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']

            data_set = '{{ qs|escapejs }}';

            var arrayLength = '{{ len|escapejs }}';

            get_labels='{{ labels|escapejs }}';
            
            var data_set_parsed = jQuery.parseJSON(data_set);
            var labels_parsed = jQuery.parseJSON(get_labels);

            console.log(get_labels);

         </script>
 
        <script>

            $(document).ready(function(){

                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels_parsed,
                        datasets: [{
                            label: 'Weekly Price Changes',
                            data: data_set_parsed,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

            });


        </script>
        
        {% endblock scripts %}



    


        <body>

    

           

            <canvas id="myChart" width="400" height="400"></canvas>
    
           
            
         
    
    
         
    
        </body>
       
        <!-- <h3>context: {{qs.3}}</h3>  -->
        

        
        {% endblock base_body %}
  